NET "a" LOC = P51 | IOSTANDARD = LVTTL;
NET "b" LOC = P41 | IOSTANDARD = LVTTL;
NET "cin" LOC = P35 | IOSTANDARD = LVTTL;
NET "cout" LOC = P8 | IOSTANDARD = LVTTL;
NET "s" LOC = P2 | IOSTANDARD = LVTTL;